/*********** COMMON ELEMENTS ***********/
.overlay{
	position: fixed;
	top:0px;
	left:0px;
	right: 0px;
	bottom: 0px;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 99991;
	display:block;		
}

/* Full scrren bkg image */
html, body{
	background-image: url(assets/images/   );
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
}

.signUp-box{
	position: absolute;
	width: 240px;
	height: 150px;
	left: 50%;
	margin-left:-120px;
	top:400px;
	display: block;
	z-index: 2;
	display: none;
}

.scrollUp{
	width: 40px;
	height: 40px;
	position: fixed;
	right: 30px;
	bottom: 30px;
	background-color:#fff;
	border: 1px solid #CCC;
	border-radius: 50px;
	z-index: 14;
	cursor: pointer;
	display: none;
	background-image: url('../images/up-arrow.png');
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Media Query Width */
@media all and (max-width:1440px) {  /* Applies styles UP TO max width */
	
}
/* Media Query Height */
@media all and (max-height:775px) {  /* Applies styles UP TO max height */

}

/*--------------------------------------------------------------
DIRECTORY
	
.AA Global

.01 XXXXXXX

.02 XXXXXXX

.03 XXXXXXX

.04 XXXXXXX

.05 XXXXXXX

.06 XXXXXXX

.07 XXXXXXX

.08 XXXXXXX

.09 XXXXXXX

.10 XXXXXXX

.11 XXXXXXX

.12 XXXXXXX

.XX RESPONSIVE 
--------------------------------------------------------------*/	
/*--------------------------------------------------------------
.AA GLOBAL STARTS
--------------------------------------------------------------*/
html, body{
	margin: 0px;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

/*--------------------------------------------------------------
.AA GLOBAL ENDS
--------------------------------------------------------------*/

/*--------------------------------------------------------------
.01 XXXXXXX STARTS
--------------------------------------------------------------*/
.queryDiv{ /* Test Element */
	height: 20px;
	background-color: #f90;
	position: absolute;
	left: 0;
	right: 0;
	bottom:0;
	z-index: 9999;
}
/* centers columns for Bootstrap CSS*/
.row-centered {
    max-width: 1142px;
    margin:0px auto;
}
/*--------------------------------------------------------------
.01 XXXXXXX ENDS
--------------------------------------------------------------*/

/*--------------------------------------------------------------
.XX MEDIA QUERY STARTS
--------------------------------------------------------------*/	
@media all and (max-width:768px) {
	.queryDiv{/* Test Element */
		background-color: #f30;
	}
	.queryDiv:after{/* Test Element */
	content: '768px and below: Phones';	
	}
}
@media all and (min-width:768px) {
	.queryDiv{/* Test Element */
		background-color:#2192a7;
	}
	.queryDiv:after{/* Test Element */
		content: '768px to 992px: Tablets';	
	}
}
@media all and (min-width:992px) {
	.queryDiv{/* Test Element */
		background-color:fuchsia;
	}/* Test Element */
	.queryDiv:after{
		content: '992px to 1200px: Tesktops';	
	}
}
@media all and (min-width:1200px) {
	.queryDiv{/* Test Element */
		background-color:green;
	}
	.queryDiv:after{/* Test Element */
		content: '1200px and over: Large Desktops';	
	}
}
/*--------------------------------------------------------------
.XX MEDIA QUERY ENDS
--------------------------------------------------------------*/




/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */


.arrow-down {
	width: 0; 
	height: 0; 
	margin: 20px 0px 0px 8px;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	
	border-top: 6px solid #2b8ef8;
}

.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	
	border-bottom: 5px solid black;
}


.arrow-right {
	width: 0; 
	height: 0; 
	border-top: 60px solid transparent;
	border-bottom: 60px solid transparent;
	
	border-left: 60px solid green;
}

/* Color Transition */
background-image:-moz-linear-gradient(-180deg, transparent 50%, rgba(0, 0, 0, 0.35) 100%);

/* Rotate - Transistion */
transition: transform 0s ease-out 0s;

/* Rotate - hover */ 
transform: rotateZ(360deg);
transition: transform .5s ease-out 0s;

/* Alpha */ 
filter: alpha(opacity=50);

/* v-centered */ 
.v-centered{
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Cover effect for img */
display: block;
width: 100vw;
height: 100vh;
object-fit: cover;

/* Gradient Transparency */
 background: -webkit-linear-gradient(top, transparent, rgba(50, 50, 50, 0.3)), url(../images/directional-arrows.png);
/* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(top, transparent, rgba(50, 50, 50, 0.3)),  url(../images/directional-arrows.png);
/* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(top, transparent, rgba(50, 50, 50, 0.3)),  url(../images/directional-arrows.png);
/* For Firefox 3.6 to 15 */
background: linear-gradient(to top, transparent, rgba(50, 50, 50, 0.3)),  url(../images/directional-arrows.png) ;
/* Standard syntax (must be last) */ }	
 
/* Clipping */
//This would clip a drop shadow from left, top and right, but show at bottom
clip-path: inset(0px 0px -10px 0px);


/* Disable Blue Focus */
*::selection 
{
    background-color:transparent;
} 
*::-moz-selection
{
    background-color:transparent;
}
*
{        
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    /*IE10*/
    -ms-user-select: none;
    user-select: none;

    /*You just need this if you are only concerned with android and not desktop browsers.*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}    
input[type="text"], textarea, [contenteditable]
{

-webkit-user-select: text;
-moz-user-select: text;
-ms-user-select: text;
user-select: text;
}

/* 3 dot menu */
.test:after {
	content: '\2807';
	font-size: 100px;
}

/* Remove dotted lines on focus */
select:-moz-focusring { 
	color: transparent;
	text-shadow: 0 0 0 #000; 
}

/* Remove Dotted Lines on Focus */
select:-moz-focusring { 
	color: transparent;
	text-shadow: 0 0 0 #000; 
}

/* 100% Height */
min-height:100vh;
// flexbox may provide a better solution.

/* 3-color-gradient */
linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%)


/* Cross Browser gradient */
background: #B11E45;
background: -moz-linear-gradient(top, #B11E45 0%, #FE9848 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#B11E45), color-stop(100%,#FE9848));
background: -webkit-linear-gradient(top, #B11E45 0%, #FE9848 100%);
background: -o-linear-gradient(top, #b11e45 0%, #fe9848 100%);
background: -ms-linear-gradient(top, #B11E45 0%, #FE9848 100%);
background: linear-gradient(top, #B11E45 0%, #FE9848 100%);

/* From Right */
background-position: calc(100% - 20px) 20px;

/* Select styled */
body select{ 
    display: block;
    padding: 4px 40px 4px 13px !important; 
    max-width: 100%; 
    height: auto !important; 
    border: 1px solid #e3e3e3; 
    border-radius: 3px; 
    background: url("https://image.ibb.co/iMeAJv/selectbox_arrow.png") right center no-repeat; 
    background-color: #fff; 
    color: #444444; 
    font-size: 12px; 
    line-height: 16px !important; 
    appearance: none; 
    -webkit-appearance: none;/* this is must */  
    -moz-appearance: none; 
} 

/* Ellipsis */
.div{
    display:inline-block;
    width:180px;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}



/*********** SHADOWS ***********/

/* Shadow-1 */
.shadow-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

/* Shadow-2 */
.Shadow-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

/* Shadow-3 */
.Shadow-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

/* Shadow-4 */
.Shadow-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/* Shadow-5 */
.Shadow-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

/* Depth-1 */
box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);

/* Depth-2 */
box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.3);

/* Depth-3 */
box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14),0 3px 14px 2px rgba(0,0,0,0.12),0 5px 5px -3px rgba(0,0,0,0.2);

/* Depth-4 */
box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14),0 6px 30px 5px rgba(0,0,0,0.12),0 8px 10px -7px rgba(0,0,0,0.2);

/* Depth-5 */
box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14),0 9px 46px 8px rgba(0,0,0,0.12),0 11px 15px -7px rgba(0,0,0,0.2);


/*********** TABLES ***********/

/* Span many rows styles */
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;    
}

/* Span many columns styles */
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;    
}

/* With headers styles */
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}

/*********** Youtube ***********/
/* Youtube css */
.yt-video-container{
	position: fixed;
	top:10%;
	left:10%;
	right: 10%;
	bottom: 10%;
	border-radius: 8px;	
	overflow: hidden;
	background-color: #000;
	z-index: 99992;
	display: none;
}

/* 16x9 */
.videoContainer{
	position: relative;
	overflow: hidden;
	left: 0px;
	right: 0px;
	height: 0px;
	padding-top: 56.25%;
}





