.pinkArrowDown{
  position: absolute;
  left:50%;
  bottom:90px;
  z-index: 10;
  background-image: url(../images/misc/pink-arrow-down.png);
  background-repeat: no-repeat;
  background-position: center center;
  width: 30px;
  height: 40px;
}
.pinkArrowDownActive{
  transform: translatey(0px);
  transition: border .15s linear;	
  animation: bounce .5s ease-in-out infinite ;  
}
@keyframes bounce {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-14px);
	}
	100% {
		transform: translatey(0px);
	}
}
.categoriesContainer{
  position: fixed;
  box-sizing: border-box;
  z-index: 1;
  right:0px;
  left:0px;
  bottom:0px;
  height: 34px;
  background-color: var(--dark-blue);
  border-top: 1px solid rgb(29, 33, 39);
}
#btmNav{
  display: flex;
  justify-content: center;
}
#btmNav li{
  position: relative;
  list-style: none;
  margin: -4px 0px 0px 0px;
  padding: 0px;
  cursor: pointer;
}
.btnCategory{
    color: var(--blue-btn-category);
}
.btnCategory:hover{
  text-decoration: underline;
}
.btnCategoryActive{
    color: #F0F2F5 ;
    text-decoration: none !important;
}
.arrow-down {
    position: absolute;
    left:50%;
    margin-left: -14px;
    top:-11px;
    width: 0; 
    height: 0; 
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top: 7px solid #F0F2F5;
    display: none;
    transition: border-top .15s linear;
  }
  .rightArrow, .leftArrow {
    border: solid var(--blue-btn-category); 
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
  }
  .rightArrow{
    transform: rotate(-45deg) scale(.7) translate(0px, -3px);
    -webkit-transform: rotate(-45deg) scale(.7) translate(0px, -3px);
  }
  .leftArrow {
    transform: rotate(135deg) scale(.77) translate(0px, 2px);
    -webkit-transform: rotate(135deg) scale(.77) translate(0px, 2px);
  }
