.card-floating-socialIcons{
	position: absolute;
	box-sizing: border-box;
	padding: 12px 0px;
	z-index:5;
	width: 340px;
	height: 140px;
	background-color: white;
	display: none;
	border-radius: 3px;
	box-shadow:
  0 0.4px 0.8px rgba(0, 0, 0, 0.02),
  0 1.1px 1.9px rgba(0, 0, 0, 0.028),
  0 2px 3.5px rgba(0, 0, 0, 0.035),
  0 3.6px 6.3px rgba(0, 0, 0, 0.042),
  0 6.7px 11.7px rgba(0, 0, 0, 0.05),
  0 16px 28px rgba(0, 0, 0, 0.07);
}
.card-floating-socialIcons-arrowDown{
	position: absolute;
	left: 10px;
	bottom: -7px;
	width: 0; 
	height: 0; 
	margin: 20px 0px 0px 0px;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;	
	background-color: white;
	display: none;
}
.card-floating-socialIcons-arrowLeft-top{
	position: absolute;
	width: 0; 
	height: 0;
	left: -9px; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	border-right:10px solid white; 
}
.card-floating-socialIcons-arrowLeft-bottom{
	position: absolute;
	width: 0; 
	height: 0;
	left: -9px;
	top:108px; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	border-right:10px solid white; 
}
.playerPic-card-floating{
	position: absolute;
	background-size: cover;
	border-radius: 3px;
	width: 100px;
	height: 100px;
	background-color: white;
	top:10px;
	left:10px;
}
.fas{
	position: absolute;
	left:120px;
	top:48px;
	color: #b5b8c0 !important;
}