.leaderboard {
  position: fixed;
  width: 220px;
  left: 0px;
  top: 40px;
  bottom: 0px;
  background-color: #E9EBEE;
  overflow: hidden;
}

.leaderboard:hover {
  overflow: auto;
  overflow-x: hidden;
}

.topPlayersSpacer {
  position: relative;
  display: flex;
  height: 90px;
  width: 220px;
}

.playerContainer {
  position: relative;
  display: flex;
  width: 230px;
  height: 76px;
  transition: background-color .15s linear;
}

.playerContainer:hover {
  background-color: #DDDFE2;
}

.playerProfile {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  margin: 13px 10px 13px 13px;
  background-size: 140%;
  background-position: center center;
  background-color: #DDDFE2;
  pointer-events: none;
}

.playerRating {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12px;
  width: 21px;
  height: 21px;
  border-radius: 100%;
  top: 51px;
  left: 6px;
  box-sizing: border-box;
  border: 2px solid #F3F3F3;
  background-color: #435273;
  pointer-events: none;
}

.playerStatsContainer {
  pointer-events: none;
}

.categoriesContainer {
  position: fixed;
  z-index: 3;
  top: 80px;
  left: 0px;
  bottom: 0px;
  width: 220px;
  background-color: #3A404D;
  display: none;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #F0F2F5;
  width: 8px;
  border-left: 1px solid #dfdfdf;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #cdd0d3 !important;
}

::-webkit-scrollbar-track:hover {
  border-right: 1px solid #dfdfdf;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
